@import url('https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900&display=swap&subset=arabic,latin-ext');
$fontColor:#1078AD;
$listColor:#1A519E;

* {
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('../../Design/Assets/SVG/Merged\ bar-57.svg')no-repeat;
    background-size: cover;
    padding: .5em;

    &__logo {
        padding-left: 1.5em;
    }

    &__listes {
        padding-right: 1.5em;

        &--link {
            color: black;
            padding: 1.5em;
            font-size: 2em;
            font-weight: bold;
            text-decoration: none;

            &:hover {
                text-decoration: none;
                color: $fontColor;
            }

            &:focus {
                color: $fontColor;
            }
        }


    }
}

.langue {
    padding: .1em .3em .1em .3em;
    font-size: 1.5em;
    text-decoration: none;
    height: 2em;
    align-items: center;
    background: transparent;
    border: 1px solid $fontColor;
    border-radius: .6em;

    &__icolangue {
        width: 1.3em;
        position: relative;
        top: .5em;
    }
}

@media only screen and (max-width:1200px) {
    .navbar {
        &__logo {
            padding-left: 1em;
        }

        &__listes {
            padding-right: 1em;

            &--link {
                color: black;
                padding: 1em;
                font-size: 1.5em;
                font-weight: 700;

                &:hover {
                    text-decoration: none;
                }

                &:focus {
                    color: $listColor;
                }
            }
        }
    }

    .langue {
        padding: .08em .3em .08em .3em;
        font-size: 1em;
        text-decoration: none;
        height: 1.4em;
        align-items: center;
        background: transparent;
        border: 1px solid $fontColor;
        border-radius: .6em;

        &__icolangue {
            width: 1em;
            position: relative;
            top: .3em;
        }
    }
}

@media only screen and (max-width:850px) {
    .navbar {
        &__logo {
            padding-left: .8em;
            width: 3em;
        }

        &__listes {
            padding-right: .8em;

            &--link {
                color: black;
                padding: .8em;
                font-size: 1.3em;
                font-weight: 700;

                &:hover {
                    text-decoration: none;
                }

                &:focus {
                    color: $listColor;
                }
            }
        }
    }
}

@media only screen and (max-width:576px) {
    .navbar {
        &__logo {
            padding-left: .5em;
            width: 3em;
        }

        &__listes {
            padding-right: .5em;

            &--link {
                color: black;
                padding: .5em;
                font-size: 1em;
                font-weight: 700;

                &:hover {
                    text-decoration: none;
                }

                &:focus {
                    color: $listColor;
                }
            }
        }
    }

    .langue {
        padding: .1em .2em .1em .2em;
        font-size: 1em;
        text-decoration: none;
        height: 1em;
        align-items: center;
        background: transparent;
        border: 1px solid $fontColor;
        border-radius: .6em;

        &__icolangue {
            width: .8em;
            position: relative;
            top: .4em;
        }
    }
}

.info {
    padding: .5em;
    background-color: #F4CF1B;

    &__dernière {
        font-size: 1.7em;
        font-weight: 700;
        text-align: center;

    }

    &__Médicale {

        margin: 0 auto;
        text-align: center;
        font-weight: bold;
        font-size: 1.2em;
        line-height: 2em;
        color: $fontColor;
    }

}

.secOne {
    display: flex;
    justify-content: space-around;
    // flex-wrap: wrap;
    padding: 2em;

    &__img {
        img {
            width: 55em;
        }
    }

    &__cntnt {
        text-align: center;

        &--h1 {
            line-height: 1.5em;
            width: 21em;
            font-size: 2.5em;
            font-weight: bold;
            color: $fontColor;
        }

        &--img {
            width: 6em;
        }

        &--p {
            line-height: 1.5em;
            font-size: 2.5em;
            font-weight: bold;
            color: #7F7F7F;
        }

        &--a {
            background-color: #1078ad;
            border: none;
            border-radius: .2em;
            width: 23em;
            height: 2em;
            color: #fff;
            font-weight: bold;
            font-size: 2em;
            outline: none;
            margin-top: 1em;
            cursor: pointer;

            &:active {
                box-shadow: 0em .3em .2em .1em rgb(20, 105, 161) inset;
            }
        }

    }
}

@media only screen and (max-width:1770px) {
    .secOne {
        display: flex;
        justify-content: space-around;

        &__img {
            img {
                width: 49em;
            }
        }

        &__cntnt {

            text-align: center;

            &--h1 {
                line-height: 1.3em;
                width: 18em;
                font-size: 2em;
                font-weight: bold;
                color: $fontColor;
            }

            &--img {
                width: 4em;
            }

            &--p {
                line-height: 1.5em;
                font-size: 2em;
                font-weight: bold;
                color: #7F7F7F;
            }

            &--a {
                background-color: #1078ad;
                border: none;
                border-radius: .2em;
                width: 15em;
                height: 2em;
                color: #fff;
                font-weight: bold;
                font-size: 1.7em;
                outline: none;
                margin-top: 1em;
                cursor: pointer;

                &:active {
                    box-shadow: 0em .3em .2em .1em rgb(20, 105, 161) inset;
                }
            }

        }
    }
}

@media only screen and (max-width:1500px) {
    .secOne {
        display: flex;
        justify-content: space-between;

        &__img {
            img {
                width: 40em;
            }
        }

        &__cntnt {

            text-align: center;

            &--h1 {
                line-height: 1.5em;
                width: 18em;
                font-size: 1.5em;
                font-weight: bold;
                color: $fontColor;
            }

            &--img {
                width: 4em;
            }

            &--p {
                line-height: 1.5em;
                font-size: 1.6em;
                font-weight: bold;
                color: #7F7F7F;
            }

            &--a {
                background-color: #1078ad;
                border: none;
                border-radius: .2em;
                width: 18em;
                height: 2em;
                color: #fff;
                font-weight: bold;
                font-size: 1.3em;
                outline: none;
                margin-top: 1em;
                cursor: pointer;

                &:active {
                    box-shadow: 0em .3em .2em .1em rgb(20, 105, 161) inset;
                }
            }

        }
    }
}

@media only screen and (max-width:1200px) {
    .secOne {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        &__img {
            img {
                width: 45em;
            }

        }

        &__cntnt {

            text-align: center;

            &--h1 {
                line-height: 1.4em;
                width: 18em;
                font-size: 2.5em;
                font-weight: bold;
                color: $fontColor;
            }

            &--img {
                width: 4em;
            }

            &--p {
                line-height: 1.4em;
                font-size: 2.5em;
                font-weight: bold;
                color: #7F7F7F;
            }

            &--a {
                background-color: #1078ad;
                border: none;
                border-radius: .2em;
                width: 20em;
                height: 2em;
                color: #fff;
                font-weight: bold;
                font-size: 2em;
                outline: none;
                margin-top: 1em;
                cursor: pointer;

                &:active {
                    box-shadow: 0em .3em .2em .1em rgb(20, 105, 161) inset;
                }
            }

        }
    }
}

@media only screen and (max-width:992px) {
    .secOne {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        &__img {
            img {
                width: 35em;
            }

        }

        &__cntnt {
            text-align: center;

            &--h1 {
                line-height: 1.4em;
                width: 18em;
                font-size: 2em;
                font-weight: bold;
                color: $fontColor;
            }

            &--img {
                width: 4em;
            }

            &--p {
                line-height: 1.4em;
                font-size: 2em;
                font-weight: bold;
                color: #7F7F7F;
            }

            &--a {
                background-color: #1078ad;
                border: none;
                border-radius: .2em;
                width: 20em;
                height: 2em;
                color: #fff;
                font-weight: bold;
                font-size: 1.5em;
                outline: none;
                margin-top: 1em;
                cursor: pointer;

                &:active {
                    box-shadow: 0em .3em .2em .1em rgb(20, 105, 161) inset;
                }
            }

        }
    }
}


@media only screen and (max-width:768px) {
    .secOne {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        &__img {
            img {
                width: 25em;
            }

        }

        &__cntnt {
            text-align: center;

            &--h1 {
                line-height: 1.5em;
                width: 18em;
                font-size: 1.6em;
                font-weight: bold;
                color: $fontColor;
            }

            &--img {
                width: 4em;
            }

            &--p {
                line-height: 1.5em;
                font-size: 1.5em;
                font-weight: bold;
                color: #7F7F7F;
            }

            &--a {
                background-color: #1078ad;
                border: none;
                border-radius: .2em;
                width: 18em;
                height: 2em;
                color: #fff;
                font-weight: bold;
                font-size: 1.2em;
                outline: none;
                margin-top: 1em;
                cursor: pointer;

                &:active {
                    box-shadow: 0em .3em .2em .1em rgb(20, 105, 161) inset;
                }
            }

        }
    }
}

.symptomes {
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    color: $fontColor;
}

.fourSymp {
    max-width: 66em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__card {
        margin: 0 auto;

        &--img {
            width: 10em;
        }

        &--p {
            text-align: center;
            font-size: 1.5em;
            font-weight: bold;
            color: black;
        }
    }

}

@media only screen and (max-width:992px) {
    .symptomes {
        text-align: center;
        font-size: 2em;
        font-weight: 700;
        color: $fontColor;
    }

    .fourSymp {
        width: 50em;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        &__card {
            margin: 0 auto;

            &--img {
                width: 5em;
            }

            &--p {
                text-align: center;
                font-size: 1.3em;
                font-weight: bold;
                color: black;
            }
        }

    }
}

@media only screen and (max-width:810px) {
    .symptomes {
        text-align: center;
        font-size: 1.6em;
        font-weight: 700;
        color: $fontColor;
    }

    .fourSymp {
        width: 40em;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        &__card {
            margin: 0 auto;

            &--img {
                width: 4em;
            }

            &--p {
                text-align: center;
                font-size: 1.2em;
                font-weight: bold;
                color: black;
            }
        }

    }
}

@media only screen and (max-width:650px) {
    .symptomes {
        text-align: center;
        font-size: 1.4em;
        font-weight: 700;
        color: $fontColor;
    }

    .fourSymp {
        width: 26em;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        &__card {
            margin: 0 auto;

            &--img {
                width: 2.8em;
            }

            &--p {
                font-size: 1em;
                font-weight: 700;
                color: black;
            }
        }

    }
}


.recom {
    margin-top: 8em;
    padding: 2.5em;
    background: $fontColor;

    &__h1 {
        color: #D0E5F0;
        text-align: center;
        font-size: 3em;
        font-weight: bold;
    }

    &__recommandation {
        display: flex;
        justify-content: space-between;
        padding: 2em 2em 0em 2em;

    }

    p {
        font-size: 2.5em;
        font-weight: 600;
        color: white;
    }

    .blackP {
        color: black;
        font-weight: bold;
    }

    .recommandation__appele {
        text-align: center;
        position: relative;
        right: 9em;
        top: 3em;

        &--h1 {
            font-size: 3em;
            font-weight: bold;
            color: #F4CF1B;
        }

        &--num {
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: none;
            color: $fontColor;
            background-color: #F4CF1B;
            font-size: 2.5em;
            font-weight: bold;
            padding: .4em 1.1em .4em 1.1em;
            border-radius: .2em;
        }

        &--site {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2.3em;
            color: white;
            text-decoration: none;
            border-bottom: .09em solid #F4CF1B;
        }
    }
}

@media only screen and (max-width:1600px) {
    .recom {
        margin-top: 6em;
        padding: 2em;
        background: $fontColor;
        margin: 0 auto;

        &__h1 {
            color: #D0E5F0;
            text-align: center;
            font-size: 3em;
            font-weight: bold;
        }

        &__recommandation {
            display: flex;
            flex-direction: column;
            padding: 2em 2em 0em 2em;

        }

        p {
            font-size: 2.5em;
            font-weight: 600;
            color: white;
            text-align: center;
        }

        .blackP {
            text-align: center;
            color: white;
            font-weight: 600;
        }

        .recommandation__appele {
            text-align: center;
            position: relative;
            top: 0em;
            right: 0em;

            &--h1 {
                text-align: center;
                font-size: 3em;
                font-weight: bold;
                color: #F4CF1B;
            }

            &--num {
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                text-decoration: none;
                color: $fontColor;
                background-color: #F4CF1B;
                font-size: 2.5em;
                font-weight: bold;
                padding: .4em 1.1em .4em 1.1em;
                border-radius: .2em;
            }

            &--site {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 2.3em;
                color: white;
                text-decoration: none;
                border-bottom: .09em solid #F4CF1B;
            }
        }
    }
}

@media only screen and (max-width:900px) {

    .recom {
        margin-top: 4em;
        padding: 1.5em;
        background: $fontColor;
        margin: 0 auto;

        &__h1 {
            color: #D0E5F0;
            text-align: center;
            font-size: 2.5em;
            font-weight: bold;
        }

        &__recommandation {
            display: flex;
            flex-direction: column;
            padding: 2em 2em 0em 2em;

        }

        p {
            font-size: 2em;
            font-weight: 600;
            color: white;
            text-align: center;
        }

        .blackP {
            text-align: center;
            color: white;
            font-weight: 600;
        }

        .recommandation__appele {
            text-align: center;
            position: relative;
            top: 0em;
            right: 0em;

            &--h1 {
                text-align: center;
                font-size: 2.5em;
                font-weight: bold;
                color: #F4CF1B;
            }

            &--num {
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                text-decoration: none;
                color: $fontColor;
                background-color: #F4CF1B;
                font-size: 2em;
                font-weight: bold;
                padding: .3em 1em .3em 1em;
                border-radius: .2em;
            }

            &--site {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 2em;
                color: white;
                text-decoration: none;
                border-bottom: .09em solid #F4CF1B;
            }
        }
    }


}

.test {
    padding: .8em;
    background-color: #96C5DC;
    text-align: center;
    border-bottom-left-radius: .7em;
    border-bottom-right-radius: .7em;

    &__h1 {
        font-size: 2.7em;
        font-weight: bold;
        color: $fontColor;
    }

    &__img {
        width: 6em;
    }

    &__a {
        @extend .secOne__cntnt--a;

    }
}

@media only screen and (max-width:1500px) {
    .test {
        padding: .6em;
        background-color: #96C5DC;
        text-align: center;
        border-bottom-left-radius: .7em;
        border-bottom-right-radius: .7em;

        &__h1 {
            font-size: 1.5em;
            font-weight: bold;
            color: $fontColor;
        }

        &__img {
            width: 5em;
        }
    }
}

@media only screen and (max-width:900px) {
    .test {
        padding: .6em;
        background-color: #96C5DC;
        text-align: center;
        border-bottom-left-radius: .7em;
        border-bottom-right-radius: .7em;

        &__h1 {
            font-size: 1em;
            font-weight: bold;
            color: $fontColor;
        }

        &__img {
            width: 4em;
        }
    }
}

.logo-footer {
    padding: 2em;
    text-align: center;
}

.footer {
    padding: 5em;
    max-width: 120em;
    margin: 0 auto;
    display: flex;
    flex-direction: row;

    .nav__listes {
        padding: 0em 4em 0em 0em;
        display: flex;
        flex-direction: column;

        &--a {
            @extend .navbar__listes--link;
            padding: .5em;
            font-size: 2em;
            text-align: right;

        }

        .langue2 {
            @extend .langue;
        }


    }

    &__contact {
        padding: 0em 4em 0em 0em;
        text-align: center;
        line-height: 4.5em;

        &--firsth1 {
            font-size: 2.5em;
            font-weight: bold;
            color: $fontColor;
        }

        &--firsth2 {
            font-weight: bolder;

        }

        &--secondh1 {
            color: #369D53;
            font-weight: bolder;
        }

        &--secondh2 {
            font-weight: bolder;
        }

        &--lasth1 {
            color: #369D53;
            font-weight: bolder;

        }
    }

    &__algo {
        text-align: justify;
        font-weight: 400;
        font-size: 1.6em;
        color: #7F7F7F;
        display: flex;
        align-items: center;

    }
}

@media only screen and (max-width:1700px) {
    .footer {
        padding: 5em;
        // max-width: 120em;
        margin: 0 auto;
        justify-content: space-around;
        flex-direction: row;

        .nav__listes {
            display: flex;
            flex-direction: column;

            &--a {

                padding: .5em;
                font-size: 1.5em;
                text-align: right;

            }


        }

        &__contact {
            text-align: center;
            line-height: 4.3em;

            &--firsth1 {
                font-size: 1.6em;
                font-weight: bold;
                color: $fontColor;
            }

            &--firsth2 {
                font-weight: bolder;

            }

            &--secondh1 {
                color: #369D53;
                font-weight: bolder;
            }

            &--secondh2 {
                font-weight: bolder;
            }

            &--lasth1 {
                color: #369D53;
                font-weight: bolder;

            }
        }

        &__algo {
            text-align: justify;
            font-weight: 400;
            font-size: 1.2em;
            color: #7F7F7F;

        }
    }
}

@media only screen and (max-width:1500px) {
    .footer {
        padding: 2em;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;

        .nav__listes {
            display: flex;
            flex-direction: column;

            &--a {

                padding: .5em;
                font-size: 1.5em;
                text-align: right;

            }

            //         padding: .1em .3em .1em .3em;
            // font-size: 1.5em;
            // text-decoration: none;
            // height: 2em;
            // align-items: center;
            // background: transparent;
            // border: 1px solid $fontColor;
            // border-radius: .6em;

        }

        &__contact {
            text-align: center;
            line-height: 4.3em;

            &--firsth1 {
                font-size: 1.5em;
                font-weight: bold;
                color: $fontColor;
            }

            &--firsth2 {
                font-weight: bolder;

            }

            &--secondh1 {
                color: #369D53;
                font-weight: bolder;
            }

            &--secondh2 {
                font-weight: bolder;
            }

            &--lasth1 {
                color: #369D53;
                font-weight: bolder;

            }
        }

        &__algo {
            text-align: center;
            font-weight: 400;
            font-size: 1.5em;
            color: #7F7F7F;
            display: flex;
            align-items: center;

        }
    }
}

@media only screen and (max-width:700px) {
    .footer {
        padding: 2em;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;

        .nav__listes {
            display: flex;
            flex-direction: column;

            &--a {

                padding: .5em;
                font-size: 1em;
                text-align: center;

            }
        }

        &__contact {
            text-align: center;
            line-height: 3em;

            &--firsth1 {
                font-size: 1em;
                font-weight: bold;
                color: $fontColor;
            }

            &--firsth2 {
                font-weight: bold;
                font-size: 1em;

            }

            &--secondh1 {
                color: #369D53;
                font-weight: bold;
            }

            &--secondh2 {
                font-weight: bold;
                font-size: 1em;
            }

            &--lasth1 {
                color: #369D53;
                font-weight: bold;

            }
        }

        &__algo {
            text-align: center;
            font-weight: 400;
            font-size: 1em;
            color: #7F7F7F;
            display: flex;
            align-items: center;

        }
    }
}

.bare-footer {
    margin-top: 2em;
    color: $fontColor;
    background-color: $fontColor;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    padding: .6em;
}